.carousel-container {
  position: relative;
}

.carousel {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
  border: solid rgb(var(--primary)) 10px;
}

.carousel-item {
  box-sizing: border-box;
  width: 80%;
  aspect-ratio: 13/6;
  margin-right: 10px;
  object-fit: cover;
  counter-increment: carousel-item;
}

.inscription-button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5% 5%;
  padding: 1% 2%;
  border: rgb(var(--white)) solid 15px;
  color: rgb(var(--white));
  background-color: rgb(var(--accent-red));
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: background-color 250ms ease;
}

.inscription-button:hover {
  background-color: rgb(var(--primary-dark));
  cursor: pointer;
  transition: background-color 250ms ease;
}

.description {
  margin: 5% 10%;
  font-family: "Open Sans";
  font-weight: lighter;
}

.calendar {
  width: 80%;
  aspect-ratio: 21/9;
}

.more-info {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas:
    "title     title"
    "logo   donation"
    "logo       orgs"
    "links     email";
}

.info-title {
  grid-area: title;
}

.info-logo {
  grid-area: logo;
}

.info-donation {
  grid-area: donation;
}

.info-orgs {
  grid-area: orgs;
}

.info-links {
  grid-area: links;
}

.info-email {
  grid-area: email;
}