.more-info {
  width: 80%;
  margin-left: 50%;
  translate: -50%;
  text-align: center;
}

.more-info * {
  color: rgb(var(--primary-dark));
  font-family: sans-serif;
  font-weight: 400;
}

.more-info div {
  text-align: left;
}

.more-info .info-donation,
.more-info .info-orgs {
  text-align: right;
}

.more-info h3 {
  font-size: 1rem;
}

.more-info p {
  font-family: "Times New Roman", Times, serif;
  color: rgb(var(--primary));
  font-size: 0.9rem;
}

.more-info button {
  font-size: 15px;
  color: rgb(var(--white));
  background-color: rgb(var(--primary-dark));
  padding: 14px;
  border: none;
  outline: none;
}

.info-center {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.info-center-container {
  display: flex;
  flex-direction: column;
  place-items: flex-end;
}

.info-logo {
  height: 100%;
}

.info-donation {
  width: 80%;
}

.info-orgs {
  width: 80%;
}

.info-links > ul {
  margin: 0;
  padding: 0;
}

.info-links a {
  font-family: "Times New Roman", Times, serif;
  color: rgb(var(--primary));
  font-size: 0.9rem;
}

.info-email {
  margin-bottom: 50px;
}

@media (width <= 850px) {
  .more-info .info-donation,
  .more-info .info-orgs {
    text-align: left;
  }

  .info-center {
    display: block;
    position: relative;
  }

  .info-logo {
    position: absolute;
    z-index: -1;
    opacity: 0.15;
    left: 50%;
    translate: -50%;
  }

  .info-center-container {
    display: block;
    margin: 40px;
  }
}

