.header {
  display: flex;
  font-family: "Francois One", Arial, Helvetica, sans-serif;
  height: 16vh;
  border-bottom: rgb(var(--primary)) solid 5px;
  justify-content: center;
}

.logo {
  width: fit-content;
  margin: 10px;
  display: flex;
  justify-items: center;
}

.logo-container {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
}

.logo-text-container {
  display: flex;
  flex-direction: column;
  color: #eee;
  justify-content: center;
}

.logo-text-title {
  font-weight: 900;
  font-size: 2rem;
  border-bottom: rgb(var(--primary-light)) solid 1px;
}

.logo-text-description {
  text-align: left;
  font-weight: 900;
  color: rgb(var(--primary-light));
}

.right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cadets-description {
  text-align: right;
  color: #eee;
  font-size: 0.8rem;
}

.navbar {
  margin-left: 100px;
  padding: 0px 5px;
  color: #eee;
  height: fit-content;
  position: relative;
  background-color: rgba(var(--primary), 0.7);
}

.nav-element {
  color: #eee;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  margin: 7px 3px;
  padding: 8px 8px;
  outline: none;
  border: none;
  display: inline-block;
  vertical-align: bottom;
  transition: all 100ms ease;
}

.nav-element:hover,
.nav-element:focus {
  background-color: rgb(var(--accent-red-pastel));
  cursor: pointer;
  transition: all 100ms ease;
}

.current-page {
  background-color: rgb(var(--accent-teal));
}

.menu-button {
  --button-color: rgb(var(--white));

  background: transparent;
  width: auto;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
  z-index: 9999;

  display: none;
  scale: -1;

  outline: none;
}

.menu-bottom:focus,
.menu-bottom:hover {
  --button-color: rgb(var(--accent-teal));
  background-color: aliceblue;
}

.menu-button path {
  transition: 1000ms;
}

.menu-top {
  stroke-dasharray: 200 1000;
}

.menu-button[aria-expanded="true"] .menu-top {
  stroke-dasharray: 250 1000;
  stroke-dashoffset: -575;
}

.menu-middle {
  stroke-dasharray: 200;
}

.menu-button[aria-expanded="true"] .menu-middle {
  stroke-dasharray: 200 1000;
  stroke-dashoffset: -1000;
}

.menu-bottom {
  stroke-dasharray: 200 1000;
}

.menu-button[aria-expanded="true"] .menu-bottom {
  stroke-dasharray: 250 1000;
  stroke-dashoffset: -575;
}

@media (width < 1100px) {
  .header {
    flex-direction: column-reverse;
  }

  .logo-container {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .logo {
    width: auto;
    aspect-ratio: 1;
  }

  .cadets-description {
    text-align: center;
    margin: 5px;
  }

  .menu-button {
    --button-color: rgb(var(--white));

    display: block;
    padding: 20px;
    margin: 5px;
  }

  .menu-button:hover,
  .menu-button:focus {
    --button-color: rgb(var(--accent-teal));
  }

  .navbar {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;

    z-index: -1;

    padding-top: 17vh;
    padding-right: 10%;
    padding-left: 100%;

    background-color: transparent;
    background-image: linear-gradient(to right, transparent, rgb(var(--primary)) 70%);

    opacity: 0;
    transform: translateX(50%);
    transition: all 1000ms ease;
  }

  .nav-open {
    opacity: 1;
    transform: translateX(0%);
    z-index: 9998;

    transition: all 1000ms ease;
  }
}

