.carousel {
  overflow: hidden;
  position: relative;
}

.carousel-items-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.carousel-item {
  transition: transform 1000ms ease;
}

.button {
  position: absolute;
  height: 15%;
  aspect-ratio: 1;
  border-radius: 9999px;
  top: 50%;
  translate: 0 -50%;
  background-color: rgba(var(--white), .3);
  transition: transform 250ms ease;
}

.button:hover {
  cursor: pointer;
}

.button-left {
  left: 10px;
}

.button-left:hover {
  transform: translateX(10px);
}

.button-right {
  right: 10px;
}

.button-right:hover {
  transform: translateX(-10px);
}